body {
    background-color: #070707;
    color: white;
    text-align: center;
    font-family: 'Tilt Neon', serif;
}

#content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.spacer_s {
    padding-bottom: 25px;
}

.spacer_l {
    padding-bottom: 100px;
}

.spacer_inline {
    padding-left: 2%;
    padding-right: 2%;
}

.thing_button {
    border-radius: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #070648;
    color: white;
    font-size: 30px;
    font-family: 'Tilt Neon', cursive;
}

.contact_button {
    border-radius: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #070648;
    color: white;
    font-size: 15px;
    font-family: 'Tilt Neon', cursive;
}

.input_field {
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #070648;
}

.selector {
    border-radius: 10px;
    border-style: solid;
    border-width: 4px;
    border-color: #070648;
}

h1 {
    margin-bottom: 0%;
}

h3 {
    color: dimgray;
    margin-top: 0%;
    margin-bottom: 3%;
}