body {
    background-color: black;
    color: white;
}

#content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    color: white;
    font-family: 'Tilt Neon', cursive;
    font-size: 50px;
    text-align: center;
}

#ball-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

ball {
    background-color: white;
    color: white;

    padding-left: 100px;
    padding-bottom: 100px;
    border-radius: 50%;
}