body {
    background-color: black;
    color: white;
}

#content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#divider {
    margin-top: 5%;
}

h1 {
    color: white;
    font-family: 'Tilt Neon', cursive;
    font-size: 50px;
    text-align: center;
}