body {
    background-color: black;
    color: white;
}

.tile {
    position: absolute;
    padding-bottom: 1%;
    padding-right: 1%;
    background-color: white;
}

#tile1 {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}